<!--
 * @Author: Misaki
 * @Date: 2023-07-20 12:17:40
 * @LastEditTime: 2023-07-20 16:57:28
 * @LastEditors: Misaki
 * @Description: 
-->
{% extends 'layout/basic.html' %}
{% load static %}

{% block title %}{% endblock %}

{% block css%}
<link rel="stylesheet" href="{% static 'css/account.css' %}">
{% endblock %}

{% block content %}
<div class="container">
    <div class="account">
        <h1>注册</h1>
        <form>
            {% for field in form %}
            {% if field.name == 'code' %}
            <div class="form-group">
                <label for="{{field.id_for_label}}">{{field.label}}</label>
                <div class="clearfix">
                    <div class="col-md-6" style="padding-left: 0;">{{field}}</div>
                    <div class="col-md-6" style="padding-left: 0;"><input type="button" id="btnSms" class="btn btn-default"
                            value="点击获取验证码"></div>
                </div>
            </div>


            {% else %}
            <div class="form-group">
                <label for="{{field.id_for_label}}">{{field.label}}</label>
                {{field}}
            </div>
            {% endif %}
            {% endfor %}
            <button type="submit" class="btn btn-primary">提 交</button>
        </form>
    </div>
</div>
{% endblock %}

{% block js %}
    <script>
        $(function (){
            bindClickBtnSms()
        });

        // 绑定获取验证码按钮
        function bindClickBtnSms(){
            $('#btnSms').click(function(){
                var mobilePhone = $('#id_mobile_phone').val();

                // 发送ajax请求，把手机号发过去
                $.ajax({
                    url: "{% url 'web:send_sms' %}", // 等价于 /send/sms/
                    type: "GET",
                    data: {mobile_phone: mobilePhone},
                    success: function(res){
                        console.log(res);
                    }
                })
            })
        }
    </script>
{% endblock %}